<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297820295261-hat3qmodv94kh0p73rkefkjq5j4gdqts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297820295261-hat3qmodv94kh0p73rkefkjq5j4gdqts</string>
	<key>API_KEY</key>
	<string>AIzaSyAcDFA859QKX9h4x33W27Y1rkqcAACH-Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>297820295261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlkaDimensionStudios.ProjectM</string>
	<key>PROJECT_ID</key>
	<string>projectm-coffetimestudio</string>
	<key>STORAGE_BUCKET</key>
	<string>projectm-coffetimestudio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297820295261:ios:955b0ba0376c8f4380bdb4</string>
	<key>DATABASE_URL</key>
	<string>https://projectm-coffetimestudio.firebaseio.com</string>
</dict>
</plist>